/*#FFFFFF
#212121
#FFFFFF
#757575
#2196F3
#EEEEEE
#000000
#F5F4FA
#2F303A
#ECECEC*/

:root {
  /*Основные шрифты*/
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-txt: #2196f3;

  /*Цвет текста светлая тема*/
  --primary-txt--mode-light: #757575;
  --secondary-txt--mode-light: #212121;
  /*Цвет текста темная тема*/
  --primary-txt--mode-black: #ffffff;
  --secondary-txt--mode-black: rgba(255, 255, 255, 0.6);
  /* Цвет фона */
  --main-bg: #e5e5e5;
  /* Светлая тема фона */
  --light-bg: #f5f4fa;
  /* Темная тема фона */
  --dark-bg: #2f303a;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-txt--mode-light);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
